.project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.project-card {
    padding: 1rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

.project-card h3 {
    color: #333;
    background-color: white;
}

.project-card button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-card button:hover {
    background-color: orange;
}

.project-exist-list ul {
    list-style-type: none;
    padding: 0;
}

.project-card p {
    background-color: white;
    color: #333;
}
