* {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 1rem 2rem;
    background-color: orange;
    color: white;
}

.nav-hardwarelogo {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: orange;
}

.nav-links {
    list-style: none;
    background-color: orange;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    background-color: orange;
    font-size: 1rem;
}

.nav-links a {
    background-color: orange;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
}

.nav-hardwarelogo:hover {
    color: white;
}

.create-new-proj {
    padding: 5rem;
    position: absolute;
    width: 90%;
    top: 40rem;
    display: flex;
    justify-content: center;
}

.create-new-proj a {
    text-align: center;
}

.project-list-div {
    position: absolute;
    top: 5.5rem;
    width: 90%;
    display: flex;
    justify-content: center;
}
